name: CD (Continuous Delivery & Deployment)

on: workflow_dispatch

jobs:           
    deploy: 
        name: Deploy to Server
        runs-on: self-hosted

        steps:
          - name : Pull newest images
            run: |
                docker pull ${{ secrets.DOCKERHUB_USERNAME }}/flaskapp:${{ inputs.flask-version-tag }}
                docker pull ${{ secrets.DOCKERHUB_USERNAME }}/postgres:${{ inputs.postgres-version-tag }}
      
          - name: Stop and Remove Existing Containers and Networks
            run: |
                docker stop $(docker ps -a -q) && docker rm $(docker ps -a -q)
                docker network prune -f

          - name: Create Network and Run containers
            run : |
              docker network create library
              docker run -d -p 5432:5432 --network library --hostname database --mount "type=volume,source=pgdata,destination=/var/lib/postgresql/data" --name postgres-container -e POSTGRES_USER=postgres -e POSTGRES_PASSWORD=qwerty123 -e POSTGRES_DB=absensi ${{ secrets.DOCKERHUB_USERNAME }}/postgres:${{ inputs.postgres-version-tag }}
              sleep 5
              docker run -d -p 5000:5000 --network absensi --name flask-container ${{ secrets.DOCKERHUB_USERNAME }}/flaskapp:${{ inputs.flask-version-tag }}
      
          - name: Remove unused data
            run: |
              docker system prune -af
